@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|Roboto:300,400,700&display=swap');

$white: #FFF;
$black: #000;

$blue: #3383FB;

$app-bg: #272c39;
$panel-bg: #2D3443;
$header-bg: #272c39;

$inputBG: #2D343D;
$inputBorder: #5E6670;

$icon-color: #99A6B5;

@mixin font-sans {
  font-family: 'Roboto', sans-serif;
}

@mixin font-condensed {
  font-family: 'Roboto Condensed', sans-serif;
}

@mixin transall($target:all,$speed:250ms,$easing:ease-in-out,$delay:0ms){
  -webkit-transition: $target $speed $easing $delay;
  -moz-transition: $target $speed $easing $delay;
  -ms-transition: $target $speed $easing $delay;
  -o-transition: $target $speed $easing $delay;
  transition: $target $speed $easing $delay;
}

@mixin clear-appearance() {
background: transparent;
border: 0;
box-shadow: none;
cursor: inherit; // Buttons don’t make the cursor change in all browsers
line-height: normal; // Override line-height to avoid spacing issues
margin: 0;
outline: none;
padding: 0;

  &::-moz-focus-inner { // Corrects padding/border on mozilla browsers on focus
  padding: 0;
  border: 0;
  }

}

@mixin dark-input {
  background-color: #39414d;
  border: 1px solid #5e6670;
  border-radius: 3px;
  position: relative;
  min-width: 180px;
  width: 100%;
}
